<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
            <span class="logo_name">MMPG Novais</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="{{ url_for('dashboard') }}" class="active">
                    <span class="links_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('cadastro_auditoria') }}">
                    <span class="links_name">Cadastrar Auditoria</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
